.h1{
    font-style: oblique;
    color: #cc2626;
    text-align: center;
    text-decoration: underline;
    background-color: black;
    padding: 70px;
    margin-top: 2px;
    margin-bottom: 2px;
    clamp(2px, 3px, 5px);
}