.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.image-float {
    float: right;
}    


.logo {
    position: absolute;
    top: 1em;
    right: 3em;
    clamp(2px, 3px, 5px);
}

.story {
    padding: 0 2em;
    content: "";
    clear: both;
    display: table;
    border: solid medium #092834;
    border-radius: 10px;
    width: 200%;
    max-width: 900px;
    min-width: 500px;
    margin: 1vw auto;
}

.container {
    padding: 0 3em;
    content: "";
    clear: both;
    display: table;
    border: solid medium #092834;
    border-radius: 20px;
    width: 200%;
    max-width: 900px;
    min-width: 500px;
    margin: 1vw auto;
    
    
}

.small_image {
    height: 185px;
    width: 185px;
    margin-left: auto;
    margin-right: auto;
}

.figcaption {
    text-align: right;
    clear: both;
    color: #2E6C85;
}

.p {
    margin: 500px;
    line-height: 1.35;
    margin-top: 5em;

}

* {
    padding: 0;
}

.Float_left {
    float: left;
}