/* Headers */
h1 {
    font-style: oblique;
    color: #f0e9e9;
    text-align: center;
    text-decoration: underline;
    background-color: black;
    padding: 70px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin: clamp(2px, 3px, 5px);
}

/*  Footer */
footer {
    text-align: center;
    color: #DC0404;
    margin-top: 500px;
    padding: 10px;

}

/* unvisited link */
a:link {
    color: #000;
}

/* Visited Link */
a:visited {
    color: #ff0000;
}

/* Hover Link */
a:hover {
    color: darkblue;
}

h2,
h3,
h4,
h5 {
    font-family: cursive;
    font-weight: lighter;
}

/* P Elements */
p {
    font-weight: bold;
    color: #DC0404;
    font-style: normal
}

/* Class */
p.special {
    color: black
}

P.special2 {
    color: #000;
}

.small_image {
    height: 300px;
    width: 300px;
    margin-left: -3.1%
}

.New {
    height: 300px;
    width: 300px;
    margin-left: -3.1%
}

.Acceptance {
    height: 300px;
    width: 300px;
    margin-left: -6.6%
}

.Era {
    height: 300px;
    width: 300px;
    margin-left: -3.1%
}

.clickable {
    height: 300px;
    width: 300px;
}

.list {
    display: grid;
    grid-auto-flow: column;
    gap: -10px;
}

fieldset {
    color: #f00606;
    width: 50px;
}

.contact {
    color: #f30808;
    width: 50px;
    height: 300px;
    margin-left: 40%;
}

.Table {
    margin-top: -410px;
    margin-left: 500px;
    border-collapse: collapse;
    width: 10%;
}

table caption {
    font-weight: 800;
    font-size: 1.5rem;
}

th,
td {
    text-align: left;
    padding: 10px;
}

tr {
    border-bottom: thin solid black;
}

thead tr {
    background-color: darkblue;
    color: cornsilk;
}

tbody tr:nth-child(even) {
    background-color: silver;
}

tbody tr:hover {
    background-color: rgb(44, 42, 42);
}

.navbar {
    background-color: #f5f1f1;
    overflow: hidden;
}

.Meet {
    float: left;
    display: block;
    color: #131212;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
}

.Author {
    float: right;
    display: block;
    color: #131212;
    text-align: center;
    padding: 90px 50px;
    text-decoration: none;
}

.title {
    float: center;
    display: block;
    color: #e4dbdb;
    text-align: center;
    padding: 90px 50px;
    text-decoration: none;
}

nav {
    flex: 0 1 15%;
    padding: 20px;
    background-color: rgb(229, 236, 229);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;    
    margin: 0 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

    nav:hover {
        background-color: #f0f0f0;
        transform: scale(1.05);
        transition: background-color 0.3s, transform 0.3s;
    }

    nav li {
        list-style: none;
        margin: 10px 0;
        border-bottom: 20px solid #f0f0f0;
    }
    
    .team-member {
        display: flexbox;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 0px;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .team-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0px;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
